.Button {
  background-color: #af206e;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.Button.Bright:hover {
  background-color: #8c1757;
}
