.App {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}
* {
  box-sizing: border-box;
}

a {
  color: #3a3a3a;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: rgb(255, 255, 255);
  transition: color ease-in-out 0.3s;
  font-weight: 500;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #ffffff;
}